{% if section.settings.Btn_Text_Color == "1" %}
   {% assign btn_color = "btn-black" %}
{% else if section.settings.Btn_Text_Color == "0" %}
   {% assign btn_color = "btn-white" %}
{% endif %}

<div id="page-width">
    <div style="display:flex;justify-content: space-around;flex-direction: column;align-items: center;margin-bottom: 50px;" 
    class="section-block section-block--padding">
        <h3> {{ section.settings.TitleButton }} </h3>
        <a href="{{ section.settings.link }}">
            <button id="myBtn" class="{{ btn_color }}">
                {{ section.settings.btntext }}
            </button>
        </a>
    </div>
</div>

<style>
    button#myBtn{
        background-color:{{ section.settings.background_color }};
        font-size: {{ section.settings.font-size }}em!important;
        font-weight: 700;
        border:none;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        padding: 15px 45px;
        transition: color 0.1s ease-in, background-color 0.1s ease-in;

    }
    button#myBtn:hover{
        background-color:{{ section.settings.background_color_hover }}
    }
    .btn-white{
        color:white!important;
    }
    .btn-black{
        color:black!important;
    }
</style>

{% schema %}
{
    "name":"Ma Section",
    "settings":[
    {
        "type":"select",
        "id":"Btn_Text_Color",
        "label":"Couleur du texte",
        "options": [
                {   
       
            "value": "1",
            "label": "Texte noir"
                },
                {
          
            "value": "0",
            "label": "Texte blanc"
                }
                    ],
        "default":"0",
        "info":"TexteZ"

    },
    {
        "type":"color",
        "id":"background_color_hover",
        "label":"Text",
        "default":"#58c114",
        "info":"Couleur du hover"
    },
    {
        "type":"color",
        "id":"background_color",
        "label":"Color",
        "default":"#FF4E00",
        "info":"Couleur du bouton"
    },
    {
        "id":"link",
        "type":"url",
        "label":"Lien"
    },
    {
        "id":"btntext",
        "type":"text",
        "label":"Texte du bouton",  
        "default":"Clique ici !"
    },
    {
        "id":"TitleButton",
        "type":"text",
        "label":"Texte du titre de Section",  
        "default":"Clique ici !"
    },
    {
        "type":"range",
        "id":"font-size",
        "min":1,
        "max":3,
        "step":0.2,
        "label":"Taille du bouton",
        "default":1
    }
]
,
    "presets":[
    {
    "name":"Ma section",
    "category":"Cours IIM"
    }
]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}